[Unit]
Description=Rahamin Kiosk startup and update twinkle
After=tv-kiosk-audio.service
Requires=tv-kiosk-audio.service

[Service]
Type=oneshot
Environment=XDG_RUNTIME_DIR=%t
ExecStart=/opt/tv-kiosk/scripts/rahamin-kiosk-chime
RemainAfterExit=yes

[Install]
WantedBy=default.target
