[Unit]
Description=Check GitHub for Rahamin Kiosk updates

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
RandomizedDelaySec=30
Persistent=true

[Install]
WantedBy=timers.target
