WIFI_PRIMARY_SSID=Home
WIFI_SECONDARY_SSID=Baiamonte
WIFI_PSK=replace-me
WIFI_COUNTRY=US
KIOSK_PROFILE=auto
BAIAMONTE_TV_URL=http://192.168.0.10:8123/lovelace/0
KIOSK_PORT=8999
KIOSK_UPDATE_BRANCH=main
KIOSK_REPO_URL=https://github.com/OWNER/tv-kiosk.git
SSH_PUBLIC_KEY_FILE=image/kiosk_admin_ed25519.pub
